@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.info-box {
  @apply mx-5 bg-[#419efc] shadow-xl box-shadow-blue rounded-md relative flex text-white flex-col gap-3 max-w-2xl pt-4 pb-12 px-8;
}

.head-text {
  @apply sm:text-4xl text-3xl font-semibold sm:leading-snug;
}

.subhead-text {
  @apply font-semibold sm:text-3xl text-xl relative;
}

.input {
  @apply bg-white border border-gray-200 text-gray-900 text-sm rounded-lg block w-full p-2.5 mt-2.5 font-normal transition-shadow duration-300;
}

.input:focus {
  @apply focus:shadow outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500;
}

.btn {
  @apply text-white bg-gradient-to-r from-[#00a2ff] to-[#57a3ff] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base w-full sm:w-auto px-5 py-3.5 text-center;
}

.blue-gradient-text {
  @apply bg-gradient-to-r from-[#00c6ff] to-[#0072ff] bg-clip-text text-transparent;
}

.page-container {
  @apply relative flex lg:flex-row flex-col mt-24 mb-3 sm:px-6 max-w-5xl m-auto px-4 py-4 justify-center break-keep;
}

.cta {
  @apply w-full flex items-center md:flex-row flex-col sm:my-16 my-8 gap-7 transition-all duration-300;
}

.cta-text {
  @apply font-extrabold text-black flex-1 text-3xl max-md:text-center;
}

.footer {
  @apply max-w-5xl m-auto px-5 pb-6 flex flex-col gap-7;
}

.footer-container {
  @apply flex flex-wrap gap-7 items-center md:justify-between justify-center;
}

.box-shadow-blue {
  box-shadow: -2px 2px 0px #3a98f7, -5px 3px 0px #2f97ff;
}

.box-shadow-white {
  box-shadow: -2px 2px 0px #e5f2ff, -5px 3px 0px #cadef2;
}

.alert-enter {
  opacity: 0;
}

.alert-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.block-container {
  position: relative;
  transition: 250ms;
  perspective: 500px;
}

.block-container .btn-back {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: inherit;
  height: inherit;
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: bottom right;
  transform: rotateZ(15deg);
  will-change: transform;
  box-shadow: 16px 0 40px #e4e4e4;
}

.block-container .btn-back-red {
  background: linear-gradient(135deg, #ff4b1f -20%, #ff9068 120%);
}

.block-container .btn-back-green {
  background: linear-gradient(135deg, #adfda2 -20%, #11d3f3 120%);
}

.block-container .btn-back-yellow {
  background: linear-gradient(135deg, #f7971e -20%, #ffd200 120%);
}

.block-container .btn-back-blue {
  background: linear-gradient(135deg, #0061ff -20%, #60efff 120%);
}

.block-container .btn-back-orange {
  background: linear-gradient(135deg, #ff0f7b -20%, #f89b29 120%);
}

.block-container .btn-back-pink {
  background: linear-gradient(135deg, #e81cff -20%, #40c9ff 120%);
}

.block-container .btn-back-black {
  background: linear-gradient(135deg, #0a1647 -20%, #e4e7e4 120%);
}

.block-container .btn-back-purple {
  background: linear-gradient(135deg, rgb(85 99 233) -20%, #a8a8a8 120%);
}

.block-container .btn-front {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: inherit;
  height: inherit;
  background-color: #ffffff33;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: top left;
  overflow: hidden;
}

.block-container:hover > .inner-block-container > .btn-back,
.block-container:hover > .btn-back {
  transform: translateZ(20px) rotateZ(15deg) rotateX(-20deg) rotateY(-20deg);
}

.block-container:hover > .inner-block-container > .btn-front,
.block-container:hover > .btn-front {
  transform: translateZ(80px) translateY(-5px) rotateX(15deg) rotateY(15deg);
}

@media only screen and (max-device-width: 1024px) and (orientation: portrait) {
  .disable-haptic-touch-ios {
    touch-action: none;
    -webkit-touch-callout: none;
  }
}

@media only screen and (min-width: 300px) {
  .vertical-timeline-element-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2-inverse 0.6s !important;
    -moz-animation: cd-bounce-2-inverse 0.6s !important;
    animation: cd-bounce-2-inverse 0.6s !important;
  }
}
